.answer-item {
  list-style: lower-alpha;
}

.question-item {
  margin-bottom: 2rem;
}

.question-item.correct {
  color: green;
}

.question-item.incorrect {
  color: red;
}

.question-item:last-child {
  margin-bottom: 0;
}

.alert-title {
  font-weight: bold;
  margin-bottom: .5rem;
  font-size: 2rem;
}

#alert {
  font-size: 1.25rem;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  background-color: hsl(100, 80%, 80%);
  border-radius: .5rem;
  color: hsl(100, 80%, 20%);
}

#alert.active {
  display: block;
}